<div class="container">
<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/ledtv.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">lED tV</h5>
              <h5 class="card-title">$100</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/ledtv.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">lED tV</h5>
              <h5 class="card-title">$100</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/ledtv.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">lED tV</h5>
              <h5 class="card-title">$100</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/ledtv.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">lED tV</h5>
              <h5 class="card-title">$100</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
    </div>
</div>
</div>